<h2>My Characters</h2>

<div>
  <label for="new-character">Character name: </label>
  <input id="new-character" #characterName />
  <!-- <label for="new-character-type">Character type: </label> -->
  <!-- <input id="new-character-type" #characterType /> -->
  <label for="characterType">Character type: </label>
  <select id="characterType" #characterType required>
    <option *ngFor="let type of characterTypes" [value]="type">
      {{ type }}
    </option>
  </select>

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="
      add(characterName.value, characterType.value); characterName.value = ''
    "
  >
    Add character
  </button>
</div>

<!-- <app-character-form></app-character-form> -->

<div class="character-container">
  <div>
    <h3>Heroes</h3>
    <ul class="characters">
      <li class="character" *ngFor="let hero of heroes">
        <a routerLink="/detail/{{ hero.id }}">
          <span class="badge">{{ hero.id }}</span> {{ hero.name }}
          <span class="nemesis" *ngIf="hero.nemesis">Nemesis: {{ hero.nemesis }}</span>
        </a>
        <button
          type="button"
          class="delete"
          title="delete hero"
          (click)="delete(hero)"
        >
          <img src="../../assets/svg/close-circle-outline.svg" />
        </button>
      </li>
    </ul>
  </div>
  <div>
    <h3>Villians</h3>
    <ul class="characters">
      <li *ngFor="let villian of villians">
        <a routerLink="/detail/{{ villian.id }}">
          <span class="badge">{{ villian.id }}</span> {{ villian.name }}
        </a>
        <button
          type="button"
          class="delete"
          title="delete villian"
          (click)="delete(villian)"
        >
          <img src="../../assets/svg/close-circle-outline.svg" />
        </button>
      </li>
    </ul>
  </div>
</div>
